{% extends "layouts/base-auth.html" %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <div class="auth-main">
    <div class="auth-wrapper v1">
      <div class="auth-form">
        <div class="position-relative my-5">
          <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
          </div>
          <div class="card mb-0">
            <form method="post" class="card-body">
              {% csrf_token %}

              <div class="text-center">
                <a href="{% url 'taskmanager:index' %}">
                  <img src="{% static 'assets/images/favicon.svg' %}" alt="img">
                </a>
              </div>
              <h4 class="text-center f-w-500 mt-4 mb-3">Change Password</h4>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <span class="d-block text-danger mb-3">{{ error }}</span>
                {% endfor %}
              {% endif %}

              {% for field in form %}
                <div class="form-group mb-3">
                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                    <div class="text-danger small mt-1">
                      {{ field.errors|striptags }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary shadow px-sm-4">Change Password</button>
              </div>

              <div class="d-flex justify-content-center gap-3 align-items-end mt-4">
                <h6 class="f-w-500 mb-0">Back to</h6>
                <a href="{% url 'taskmanager:index' %}" class="link-primary">Home</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
