{% extends "layouts/base.html" %}

{% block content %}
  <h1>
    {{ position.name }}
    <a href="{% url 'taskmanager:position-delete' pk=position.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taskmanager:position-update' pk=position.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <hr>
  <ul>
    {% for worker in position.workers.all %}
      <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }} {{ worker.position.name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
