{% extends "base.html" %}

{% block content %}
  <h1>
    {{ position.name }}
{#    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">#}
{#      Delete#}
{#    </a>#}
{##}
{#    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">#}
{#      Update#}
{#    </a>#}
  </h1>

{#  <h1>#}
{#    Drivers#}
{##}
{#    {% if car in user.cars.all %}#}
{#      <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-danger link-to-page">#}
{#        Delete me from this car#}
{#      </a>#}
{#    {% else %}#}
{#      <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-success link-to-page">#}
{#        Assign me from this car#}
{#      </a>#}
{#    {% endif %}#}
{##}
{#  </h1>#}
  <hr>
  <ul>
    {% for worker in position.workers.all %}
      <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }} {{ worker.position.name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
