{% extends "base.html" %}

{% block content %}
  <h1>Current Positions Overview</h1>
  <h2>Total: {{ positions.count }}</h2>
  {% include 'includes/search_form.html' %}
  <h1>
    Position List
    <a class="btn btn-primary link-to-page" href={% url 'taskmanager:position-create' %}>
      Create
    </a>
  </h1>
  {#{% include 'includes/search_form.html' %}#}
  {% if positions %}
    {% for position in positions %}
      <li><a href="{% url 'taskmanager:position-detail' pk=position.id %}">{{ position.name }}</a></li>
    {% endfor %}
  {% endif %}
{% endblock %}