{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task_type.name }}
    <a href="{% url 'taskmanager:tasktype-delete' pk=task_type.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taskmanager:tasktype-update' pk=task_type.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <hr>
  <ul>
    {% for task in task_type.tasks.all %}
      <li>{{ task.name }} {{ task.deadline }} {{ task.priority }}</li>
    {% endfor %}
  </ul>
{% endblock %}
