<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="en">
<head>

  <title>{% block title %}{% endblock title %} | TaskForge</title>

  <link rel="canonical" href="https://app-generator.dev/product/datta-able/django/"/>

  {% include "includes/head.html" %}
  {% block extrastyle %}{% endblock extrastyle %}
  {% block extrahead %}{% endblock extrahead %}

</head>

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
{% block loader %}
  {% include "includes/loader.html" %}
{% endblock loader %}

{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock sidebar %}

{% block navigation %}
  {% include "includes/navigation.html" %}
{% endblock navigation %}

<div class="pc-container">
  <div class="pc-content">
    {% block content %}{% endblock content %}
    {% block pagination %}
      {% include 'includes/pagination.html' %}
    {% endblock pagination %}
  </div>
</div>


{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}

{% include "includes/scripts.html" %}
{% block extra_js %}{% endblock extra_js %}

</body>
</html>
