<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        <div class="col my-1">
          <p class="m-0">
            &copy; TaskForge <a href="https://app-generator.dev/">App for IT</a>.
            </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href=#>Documentation</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>