{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <form method="post" action="{% url 'logout' %}" class="list-group-item">
      {% csrf_token %}
      <button type="submit" class="logout-link">Logout</button>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}
  <br>

  <li class="list-group-item"><a href="{% url 'taskmanager:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'taskmanager:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'taskmanager:worker-list' %}">All workers</a></li>
  <li class="list-group-item"><a href="{% url 'taskmanager:tasktype-list' %}">All types</a></li>
  <li class="list-group-item"><a href="{% url 'taskmanager:position-list' %}">All positions</a></li>
</ul>
